// import Google font
@import url(http://fonts.googleapis.com/css?family=Domine);

// Base
::selection{ background-color: #fff2a8; color: #000; }
::moz-selection{ background-color: #fff2a8; color: #000; }
::webkit-selection{ background-color: #fff2a8; color: #000; }

* {
  @include box-sizing(border-box);
}

html {
  font-size: 62.5%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

body {
  font: 1.4rem $fontDefault;
}

a {
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:active, &:focus {
    outline: none;
  }
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.mainView-auto {
  margin: 0 auto;
  max-width: 700px;
}

body[data-page="internal"] {
  // title 
  & .articleContent h1,
  & .articleContent h2,
  & .pageInternal h1,
  & .pageInternal h2 {
    font-size: 3.0rem;
  }

  & .articleContent p,
  & .pageInternal p {
    font-size: 2.0rem;
    line-height: 33px;
    letter-spacing: 1px;
  }
}

//clearfix
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}