<!-- nav articles -->
<nav class="navArticles" id="btAsideNav">
    <ul class="navArticles_menu">
        <li class="navArticles_item"></li>
        <li class="navArticles_item"></li>
        <li class="navArticles_item"></li>
        <li class="navArticles_item"></li>
    </ul>
</nav>
<!-- nav articles / end -->