<!-- footer -->
<footer id="footer">

    <!-- nav main -->
    <nav class="navMain">
        <!-- header -->
        <header class="header">
            <h1 class="navLogo">
                <a class="navLogo_title" href="">
                    <img class="navLogo_thumb" src="" alt=""/>
                    <span class="navLogo_name"></span>
                    <small class="navLogo_role"></small>
                </a>
            </h1>
        </header>
        <!-- header / end -->

        <ul class="navMain_menu">
            <li class="navMain_menu_items"><a href=""></a></li>
            <li class="navMain_menu_items"><a href=""></a></li>
        </ul>

    </nav>
    <!-- nav main / end -->

    <!-- nav social -->
    <ul class="navMain_social">
        <li class="navMain_social_items"><a href=""></a></li>
        <li class="navMain_social_items"><a href=""></a></li>
        <li class="navMain_social_items"><a href=""></a></li>
    </ul>
    <!-- nav social / end -->

</footer>
<!-- footer / end -->