<!-- content -->
<section class="content" id="content">

    {{#articles}}
    <!-- articles -->
    <article class="post">
        <a href="/blog/{{ path }}" title="{{ title }}" class="post_link">
            <h2 class="post_title"> {{ title }} </h2>
            <span class="post_date"> {{ date }} </span>
        </a>
    </article>
    <!-- articles / end -->
    {{/articles}}

</section>
<!-- content / end -->
