<!-- content -->
<section class="content" id="content">

    {{#articles}}
    <!-- articles -->
    <article class="post">
        <section class="post_content">
            <a href="/blog/{{ path }}" title="{{ title }}" class="post_link">
                <h2 class="post_title"> {{ title }} </h2>
            </a>
        </section>
    </article>
    <!-- articles / end -->
    {{/articles}}

</section>
<!-- content / end -->
