#container {
  @include transition(transform .3s ease-out);
}

.container_inner {
    padding: 35px 0 130px;
    -webkit-animation: fadeIn 2.0s ease;
    -moz-animation: fadeIn 2.0s ease;
    -ms-animation: fadeIn 2.0s ease;
    animation: fadeIn 2.0s ease;
}

// content animation (fadeIn)
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}