// when aside is visible => true
#app[data-aside-visible="true"] {

    // show aside
    & .aside {
        @include transform( translateX(0) );
    }
    
    // slide and blur container - footer
    & #container, 
    & #footer {
        @include transform( translateX(280px) );
        @include filter( blur(2px) );
    }
}