@import url(http://fonts.googleapis.com/css?family=Domine);
/* ==========================================================================
#   SCSS/COMPASS Modular Project Based.
#   @settings
#   @base
#   @layout
#   @skin
#   @media-queries
#   @plugins ( third part styles )
#   @ie
========================================================================== */
/* ==========================================================================
@settings
========================================================================== */
/* ==========================================================================
@base
========================================================================== */
/* line 5, ../../scss/themes/minimalistic/_base.scss */
::selection {
  background-color: #fff2a8;
  color: #000;
}

/* line 6, ../../scss/themes/minimalistic/_base.scss */
::moz-selection {
  background-color: #fff2a8;
  color: #000;
}

/* line 7, ../../scss/themes/minimalistic/_base.scss */
::webkit-selection {
  background-color: #fff2a8;
  color: #000;
}

/* line 9, ../../scss/themes/minimalistic/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../../scss/themes/minimalistic/_base.scss */
html {
  font-size: 62.5%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../../scss/themes/minimalistic/_base.scss */
body {
  font: 1.4rem "Open Sans", helvetica, sans-serif;
}

/* line 23, ../../scss/themes/minimalistic/_base.scss */
a {
  text-decoration: none;
  outline: none;
}
/* line 27, ../../scss/themes/minimalistic/_base.scss */
a:hover {
  text-decoration: none;
}
/* line 31, ../../scss/themes/minimalistic/_base.scss */
a:active, a:focus {
  outline: none;
}

/* line 36, ../../scss/themes/minimalistic/_base.scss */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 44, ../../scss/themes/minimalistic/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 53, ../../scss/themes/minimalistic/_base.scss */
.mainView-auto {
  margin: 0 auto;
  max-width: 700px;
}

/* line 60, ../../scss/themes/minimalistic/_base.scss */
body[data-page="internal"] .articleContent h1, body[data-page="internal"] .articleContent h2, body[data-page="internal"] .pageInternal h1, body[data-page="internal"] .pageInternal h2 {
  font-size: 3.0rem;
}
/* line 67, ../../scss/themes/minimalistic/_base.scss */
body[data-page="internal"] .articleContent p, body[data-page="internal"] .pageInternal p {
  font-size: 2.0rem;
  line-height: 33px;
  letter-spacing: 1px;
}

/* line 76, ../../scss/themes/minimalistic/_base.scss */
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* ==========================================================================
@layout
========================================================================== */
/*
* @app
*/
/* line 1, ../../scss/themes/minimalistic/components/_app.scss */
#app {
  overflow: hidden;
}

/*
* @aside
*/
/* line 1, ../../scss/themes/minimalistic/components/_aside.scss */
.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #EA5160;
  width: 280px;
  z-index: 10;
  overflow-y: scroll;
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* line 17, ../../scss/themes/minimalistic/components/_aside.scss */
.articleList_item {
  border-bottom: 1px solid #EE6976;
  padding: 10px;
}

/* line 22, ../../scss/themes/minimalistic/components/_aside.scss */
.articleList_item_link {
  color: #333;
  display: block;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 27, ../../scss/themes/minimalistic/components/_aside.scss */
.articleList_item_link::first-letter {
  text-transform: uppercase;
}
/* line 31, ../../scss/themes/minimalistic/components/_aside.scss */
.articleList_item_link:hover {
  color: #fff;
}

/* line 36, ../../scss/themes/minimalistic/components/_aside.scss */
.articleList_item_title {
  font-size: 1.9rem;
}

/* line 40, ../../scss/themes/minimalistic/components/_aside.scss */
.articleList_item_date {
  display: block;
  font-size: 1.2rem;
}

/*
* @container
*/
/* line 1, ../../scss/themes/minimalistic/components/_container.scss */
#container {
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* line 5, ../../scss/themes/minimalistic/components/_container.scss */
.container_inner {
  padding: 35px 0 130px;
  -webkit-animation: fadeIn 2.0s ease;
  -moz-animation: fadeIn 2.0s ease;
  -ms-animation: fadeIn 2.0s ease;
  animation: fadeIn 2.0s ease;
}

@-webkit-keyframes fadeIn {
  /* line 15, ../../scss/themes/minimalistic/components/_container.scss */
  from {
    opacity: 0;
  }

  /* line 18, ../../scss/themes/minimalistic/components/_container.scss */
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* line 24, ../../scss/themes/minimalistic/components/_container.scss */
  from {
    opacity: 0;
  }

  /* line 27, ../../scss/themes/minimalistic/components/_container.scss */
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  /* line 33, ../../scss/themes/minimalistic/components/_container.scss */
  from {
    opacity: 0;
  }

  /* line 36, ../../scss/themes/minimalistic/components/_container.scss */
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* line 42, ../../scss/themes/minimalistic/components/_container.scss */
  from {
    opacity: 0;
  }

  /* line 45, ../../scss/themes/minimalistic/components/_container.scss */
  to {
    opacity: 1;
  }
}
/*
* @Nav Articles
*/
/* line 1, ../../scss/themes/minimalistic/components/_navAside.scss */
.navArticles {
  width: 30px;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 9, ../../scss/themes/minimalistic/components/_navAside.scss */
.navArticles:hover {
  opacity: .6;
}

/* line 16, ../../scss/themes/minimalistic/components/_navAside.scss */
.navArticles_menu .navArticles_item {
  background: #28252C;
  width: 100%;
  height: 4px;
  margin: 2px 0;
  border-radius: 3px;
}

/*
* @content
*/
/* line 4, ../../scss/themes/minimalistic/components/_content.scss */
.post {
  margin: 0 0 30px;
}

/* line 8, ../../scss/themes/minimalistic/components/_content.scss */
.post_link {
  font-size: 2.2rem;
  color: #333332;
  display: block;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 14, ../../scss/themes/minimalistic/components/_content.scss */
.post_link::first-letter {
  text-transform: uppercase;
}
/* line 18, ../../scss/themes/minimalistic/components/_content.scss */
.post_link:hover {
  color: #EA5160;
  text-shadow: 0px 0px 3px #EA5160;
}

/* line 24, ../../scss/themes/minimalistic/components/_content.scss */
.post_title {
  margin: 0;
}

/* line 28, ../../scss/themes/minimalistic/components/_content.scss */
.post_date {
  display: block;
  font-size: 1.5rem;
}

/* line 34, ../../scss/themes/minimalistic/components/_content.scss */
.pageTitle {
  font-size: 2.8rem;
  color: #333;
}

/*
* @footer
*/
/* line 1, ../../scss/themes/minimalistic/components/_footer.scss */
#footer {
  height: 100px;
  padding: 20px 0 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  border-top: 1px solid #F1F0F0;
  background-image: -webkit-linear-gradient(bottom, #eeeeee, white 99%);
  background-image: -moz-linear-gradient(bottom, #eeeeee, white 99%);
  background-image: -o-linear-gradient(bottom, #eeeeee, white 99%);
  background-image: linear-gradient(to top, #eeeeee, #ffffff 99%);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* line 18, ../../scss/themes/minimalistic/components/_footer.scss */
.navMain {
  overflow: hidden;
}

/* line 22, ../../scss/themes/minimalistic/components/_footer.scss */
.header {
  float: left;
  min-width: 250px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 27, ../../scss/themes/minimalistic/components/_footer.scss */
.header:hover {
  opacity: 0.6;
}

/* line 34, ../../scss/themes/minimalistic/components/_footer.scss */
.navLogo_title {
  color: #333;
  display: block;
  overflow: hidden;
}

/* line 40, ../../scss/themes/minimalistic/components/_footer.scss */
.navLogo_thumb {
  background: url(/images/thumb-pic.jpg) no-repeat center center;
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 30px;
  float: left;
  margin-right: 15px;
}

/* line 50, ../../scss/themes/minimalistic/components/_footer.scss */
.navLogo_name {
  font-size: 1.7rem;
  color: #333;
  display: block;
  margin-top: 10px;
}

/* line 57, ../../scss/themes/minimalistic/components/_footer.scss */
.navLogo_role {
  font-size: 1.2rem;
  display: block;
}

/* line 63, ../../scss/themes/minimalistic/components/_footer.scss */
.navMain_menu {
  float: right;
  margin: 14px 0 5px 0;
}

/* line 68, ../../scss/themes/minimalistic/components/_footer.scss */
.navMain_menu_items {
  float: left;
  margin: 0 0 0 20px;
}
/* line 72, ../../scss/themes/minimalistic/components/_footer.scss */
.navMain_menu_items a {
  color: #333;
  font-size: 1.8rem;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 78, ../../scss/themes/minimalistic/components/_footer.scss */
.navMain_menu_items a:hover {
  color: #aaa;
}

/*
* @states
*/
/* line 5, ../../scss/themes/minimalistic/components/_states.scss */
#app[data-aside-visible="true"] .aside {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 10, ../../scss/themes/minimalistic/components/_states.scss */
#app[data-aside-visible="true"] #container, #app[data-aside-visible="true"] #footer {
  -moz-transform: translateX(280px);
  -ms-transform: translateX(280px);
  -o-transform: translateX(280px);
  -webkit-transform: translateX(280px);
  transform: translateX(280px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* line 5, ../../scss/themes/minimalistic/_media-queries.scss */
.show-for-small {
  display: none;
}

@media all and (max-width: 790px) {
  /* line 11, ../../scss/themes/minimalistic/_media-queries.scss */
  #container > .mainView-auto {
    max-width: 100%;
    padding: 35px 10px;
  }

  /* line 17, ../../scss/themes/minimalistic/_media-queries.scss */
  #footer {
    padding: 20px 10px;
  }

  /* line 21, ../../scss/themes/minimalistic/_media-queries.scss */
  .header {
    min-width: 220px;
  }

  /* line 25, ../../scss/themes/minimalistic/_media-queries.scss */
  .navMain_menu_items {
    float: none;
    margin: 0;
  }
}
