/* ==========================================================================
#   SCSS/COMPASS Modular Project Based.
#   @settings
#   @base
#   @layout
#   @skin
#   @media-queries
#   @plugins ( third part styles )
#   @ie
========================================================================== */
/* ==========================================================================
@settings
========================================================================== */
/* ==========================================================================
@base
========================================================================== */
/* line 2, scss/_base.scss */
::selection {
  background-color: #fff2a8;
  color: #000;
}

/* line 3, scss/_base.scss */
::moz-selection {
  background-color: #fff2a8;
  color: #000;
}

/* line 4, scss/_base.scss */
::webkit-selection {
  background-color: #fff2a8;
  color: #000;
}

/* line 6, scss/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, scss/_base.scss */
html {
  font-size: 62.5%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

/* line 16, scss/_base.scss */
body {
  font: 1.4rem "Open Sans", helvetica, sans-serif;
}

/* line 20, scss/_base.scss */
a {
  text-decoration: none;
  outline: none;
}
/* line 24, scss/_base.scss */
a:hover {
  text-decoration: none;
}
/* line 28, scss/_base.scss */
a:active, a:focus {
  outline: none;
}

/* line 33, scss/_base.scss */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 42, scss/_base.scss */
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* ==========================================================================
@layout
========================================================================== */
/*
* @aside
*/
/* line 1, scss/components/_aside.scss */
.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #996497;
  width: 16%;
  z-index: 10;
  -moz-transform: translate3d(0, 0, -300px);
  -ms-transform: translate3d(0, 0, -300px);
  -o-transform: translate3d(0, 0, -300px);
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 15, scss/components/_aside.scss */
#master.navActive {
  -moz-transform: perspective(1500px);
  -ms-transform: perspective(1500px);
  -o-transform: perspective(1500px);
  -webkit-transform: perspective(1500px);
  transform: perspective(1500px);
  -moz-transform: perspective-origin(0% 50%);
  -ms-transform: perspective-origin(0% 50%);
  -o-transform: perspective-origin(0% 50%);
  -webkit-transform: perspective-origin(0% 50%);
  transform: perspective-origin(0% 50%);
}
/* line 19, scss/components/_aside.scss */
#master.navActive .aside {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
* @container
*/
/*
* @Nav Articles
*/
/* line 1, scss/components/_navAside.scss */
.navArticles {
  width: 30px;
  position: absolute;
  top: 22px;
  left: 450px;
  cursor: pointer;
  display: none;
}

/* line 12, scss/components/_navAside.scss */
.navArticles_menu .navArticles_item {
  background: #28252C;
  width: 100%;
  height: 4px;
  margin: 2px 0;
  border-radius: 3px;
}

/*
* @content
*/
/* line 1, scss/components/_content.scss */
#content {
  width: 65%;
  margin: 0 auto;
}

/*
* @footer
*/
